<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>
<p  class = "link">
  <% if current_user && current_user.email == "admin@example.com"%>
    <%= link_to 'Edit', edit_author_path(@author) %> | 
  <% end %>
  <%= link_to 'Back', authors_path %>
</p>